<div class="user-actions">
    <h1>Sensors table</h1>
    <span class="logout" (click)="logout()">Logout</span>
</div>
<div class="container">
    <div class="search-container">
        <input type="text">
        <button>Search</button>
    </div>
    <div class="sensors" *ngIf="sensors$ | async as sensors">
        <div class="headers">
            <span>Name</span>
            <span>Model</span>
            <span>Type</span>
            <span>Range</span>
            <span>Unit</span>
            <span>Location</span>
        </div>
        <app-sensor *ngFor="let sensor of sensors" [sensor]="sensor" (onClick)="openDialog($event)"></app-sensor>
    </div>
    <div class="actions">
        <button (click)="openCreationDialog()">Add Sensor</button>
        <div class="paging" *ngIf="total$ | async as total">
            <div class="buttons">
                <button (click)="previousPage()">Previous</button>
                <button *ngFor="let _ of countPages(total); let i = index" (click)="selectPage(i)">{{ i + 1 }}</button>
                <button (click)="nextPage(total)">Next</button>
            </div>
            <span>Total: {{ total }}</span>
        </div>
    </div>
</div>
<app-sensor-popup [isOpen]="isDialogOpen" (onCancel)="cancelDialog()" [sensor]="selectedSensor"></app-sensor-popup>