<div class="user-actions">
    <h1>Sensors table</h1>
    <span class="logout" (click)="logout()">Logout</span>
</div>
<div class="container" *ngIf="role$ | async as role">
    <form class="search-container" (submit)="selectPage(0)">
        <input type="text" name="search-string" [(ngModel)]="searchString">
        <button type="submit">Search</button>
        <button type="button" (click)="clearQuery()">Clear</button>
    </form>
    <div class="sensors" *ngIf="sensors$ | async as sensors">
        <div class="headers">
            <span>Name</span>
            <span>Model</span>
            <span>Type</span>
            <span>Range</span>
            <span>Unit</span>
            <span>Location</span>
        </div>
        <app-sensor *ngFor="let sensor of sensors" 
            [sensor]="sensor" 
            [role]="role" 
            (onEdit)="openDialog($event)"
            (onRemove)="removeSensor($event)"></app-sensor>
        <div class="empty" *ngIf="sensors.length === 0">
            <span>No data found</span>
            <button (click)="clearQuery()">Clear query string</button>
        </div>
    </div>
    <div class="actions" [style.justifyContent]="role === 'ROLE_VIEWER' ? 'flex-end' : 'space-between'">
        <button (click)="openCreationDialog()" *ngIf="role === 'ROLE_ADMINISTRATOR'">Add Sensor</button>
        <div class="paging" *ngIf="total$ | async as total">
            <div class="buttons">
                <button (click)="previousPage()">Previous</button>
                <button *ngFor="let _ of countPages(total); let i = index" [class.selected]="page === i" (click)="selectPage(i)">{{ i + 1 }}</button>
                <button (click)="nextPage(total)">Next</button>
            </div>
            <span>Total: {{ total }}</span>
        </div>
    </div>
</div>
<app-sensor-popup [isOpen]="isDialogOpen" 
    [sensor$]="selectedSensor$" 
    [error$]="error$"
    (onCancel)="cancelDialog()"
    (onSave)="saveSensor($event)"></app-sensor-popup> 