<div class="container">
    <form [formGroup]="formGroup" (submit)="login()">
        <div class="header">
            <h1>Login Form</h1>
            <span>enter login and password for access</span>
        </div>
        <div class="content">
            <div class="input">
                <label for="login">Login</label>
                <input type="text" id="login" placeholder="Your login" formControlName="login">
            </div>
            <div class="input">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Your password" formControlName="password">
            </div>
            <div class="login-button">
                <button type="submit" value="Login">Login</button>
            </div>
            <span *ngIf="error$ | async" class="error">Invalid username or password</span>
        </div>
    </form>
</div>