.sensor-data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

span {
    flex: 1;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    font-weight: bold;
    background-color: antiquewhite;
}

.sensor-name {
    text-decoration: underline;
    color: blue;
    font-weight: normal;
}

img {
    width: 20px;
    height: 20px;
}

.container {
    position: relative;
}

button {
    position: absolute;
    padding-top: 5px;
    cursor: pointer;

    &.edit {
        left: -40px;
        top: 5px;
    }

    &.close {
        right: -40px;
        top: 5px;
    }
}